/*

#Whitelist
!.gitignore
!.README.md

!.bash_aliases
!.bashrc
!.bash_profile

!.vimrc
!.tmux.conf

!wallpaper.jpg

!.bin/

!.config/
.config/*
!.config/.Xmodmap
!.config/i3
!.config/polybar
!.config/rofi
!.config/kitty
!.config/neofetch
!.config/ranger
!.config/picom.conf
