configuration {
  terminal: "kitty";
  font: "Fira Code SemiBold 8";
  show-icons: false;
  icon-theme: "Oomox-Spacegray";
  combi-hide-mode-prefix: true;
  drun-display-format: "{name}";
  disable-history: false;
  fullscreen: false;
  hide-scrollbar: true;
  sidebar-mode: false;
  auto-select: false;
}

@import "colors.rasi"
