[colors]
bg = #ff272128
fg = #ffcccccc
cur = #ff474747
sel = #ff606060
grey = #ff808080
blue = #ff6699cc
red = #fff2777a
yellow = #ffffcc66
ltgreen = #ff99cc99
green = #ff99cc99
dkgrey = #ff2d2d2d
orange = #fff99157
active = #fff99157

urgent = #ffde935f
urgent_light = #fff0c674
urgent_dark = #ffcc6666

[bar/top]
dpi = 100
width = 100%
height = 24
offset-x = 0
offset-y = 0
radius = 0.0
fixed-center = true
bottom = false

background = ${colors.bg}
foreground = ${colors.fg}

line-size = 0
line-color = ${colors.blue}

border-size = 0
border-color = ${colors.blue}

padding-left = 0
padding-right = 0

module-margin-left = 0
module-margin-right = 0

font-0 = "NotoSansDisplay Nerd Font:size=8;1"
font-1 = "Hack Nerd Font:size=8;3"
font-2 = "Source Code Pro Nerd Font:style=Regular:pixelsize=10;3"
font-3 = "NotoSans Nerd Font"

modules-left = workspaces
modules-center = 
modules-right = spotify weather cputemp sound wifi battery currenttime

tray-scale = 1.0
tray-position = right
tray-padding = 4
tray-maxsize = 18

wm-restack = i3
override-redirect = false

scroll-up = i3wm-wsnext
scroll-down = i3wm-wsprev

cursor-click = pointer
cursor-scroll = ns-resize

[module/workspaces]
type = internal/i3
format = <label-state> <label-mode>
index-sort=false
wrapping-scroll=false
pin-workspaces = false

label-mode-padding = 4
label-mode-foreground = ${colors.fg}
label-mode-background = ${colors.bg}

label-focused = "%icon%"
label-focused-background = ${colors.sel}
label-focused-foreground = ${colors.fg}
label-focused-underline = ${colors.grey}

label-focused-padding = 4

label-unfocused = "%icon%"
label-unfocused-padding = 4
label-unfocused-background = ${colors.grey}
label-unfocused-foreground = ${colors.cur}

label-urgent = "%icon%"
label-urgent-background = ${colors.orange}
label-urgent-foreground = ${colors.fg}
label-urgent-underline = ${colors.red}
label-urgent-padding = 4

label-visible = "%icon%"
label-visible-padding = 4
label-visible-foreground = ${colors.bg}
label-visible-background = ${colors.fg}

ws-icon-0 = 1;
ws-icon-1 = 2;﬏
ws-icon-2 = 3;
ws-icon-3 = 4;
ws-icon-4 = 5;
ws-icon-5 = 6;
ws-icon-6 = 7;

[module/wlan]
type = internal/network
interface = wlp2s0
interval = 3.0
format-prefix = ""
format-prefix-foreground = ${colors.fg}
format-underline = ${colors.grey}

format-connected = "<label-connected>⠀"
format-connected-underline = ${colors.grey}
label-connected = %essid%
format-connected-prefix = "⠀⠀"
format-connected-prefix-foreground = ${colors.fg}

format-disconnected =
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = disconnected
;format-disconnected-prefix = ""
;label-disconnected-foreground = ${colors.sel}

[module/battery]
type = internal/battery
battery = BAT0
adapter = AC0
full-at = 98

format-charging = "⠀<animation-charging>⠀<label-charging>⠀"
format-charging-underline =  ${colors.grey}

format-discharging = "⠀<ramp-capacity>⠀<label-discharging>⠀"
format-discharging-underline = ${colors.grey}

format-full-prefix = " "
format-full-prefix-foreground = ${colors.fg}
format-full-underline = ${colors.green}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-foreground = ${colors.fg}

animation-charging-0 =  
animation-charging-1 =  
animation-charging-2 =  
animation-charging-3 =  
animation-charging-4 =  
animation-charging-foreground = ${colors.fg}
animation-charging-framerate = 750

[module/spotify]
type = custom/script
interval = 5
format-padding = 4

[module/docker]
type = custom/script
interval = 5
exec = (docker ps | tail -n +2 | grep "" > /dev/null) && (docker ps -q | wc -l) || echo ''
format-padding = 4
label =  %output%

[module/sound]
type = custom/script
interval = 0.5
label = %output%
exec = pamixer --get-mute > /dev/null && echo  || echo " $(pamixer --get-volume)"
click-left = pamixer -t
scroll-up = pamixer -i 5
scroll-down = pamixer -d 5
format-padding = 4

[module/currenttime]
type = custom/script
interval = 0.5
label =  %output%
exec = date +%l:%M\ %p
format-padding = 4

[module/weather]
type = custom/script
interval = 10.0
exec = curl -s "wttr.in/charlottetown?format=1"
format-padding = 4

[module/memory]
type = internal/memory
interval = 3
format = <label>
label =   %gb_used%
format-padding = 4

[module/cpu]
type = internal/cpu
interval = 2
format = <label>
label =  %percentage%%
format-padding = 4

[module/cputemp]
type = custom/script
interval = 5
label =  %output%
exec = TEMP=$(cat /sys/devices/virtual/thermal/thermal_zone0/temp); expr $TEMP / 1000
format-padding = 4

[module/spacer]
type = custom/script
interval = 1000
exec = echo " "
format-padding = 4


[settings]
screenchange-reload = true
;compositing-background = xor
compositing-background = screen
compositing-foreground = source
compositing-border = over
;pseudo-transparency = false

[global/wm]
margin-top = 0
margin-bottom = 0

; vim:ft=dosinie
